<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0"><i class="fa-solid fa-inbox"></i> Message Inbox</h1>
  <%= link_to new_message_path, class: "btn btn-primary" do %>
    <i class="fa-solid fa-plus"></i> New Message
  <% end %>
</div>

<div class="card shadow-sm mb-4">
  <div class="card-body">
    <%= form_with(url: messages_path, method: :get, local: true, class: "row g-3 align-items-center") do %>
      <div class="col">
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
          <%= text_field_tag :search, params[:search], placeholder: "Search by keyword, user ID...", class: "form-control" %>
        </div>
      </div>
      <div class="col-auto">
        <%= select_tag :customer_type, options_for_select(Customer::CUSTOMER_TYPES.keys.map { |k| [k.to_s.humanize, k] }, params[:customer_type]), prompt: "Filter by Type", class: "form-select" %>
      </div>
      <div class="col-auto">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
      <div class="col-auto">
        <%= link_to "Clear", messages_path, class: "btn btn-outline-danger", id: "clear-search-btn", style: (params[:search].blank? && params[:customer_type].blank? ? 'display: none;' : '') %>
      </div>
    <% end %>
  </div>
</div>

<div class="card shadow-sm">
  <div class="card-header bg-white">
    <h5 class="mb-0">All Messages</h5>
  </div>
  <div class="table-responsive">
    <table class="table table-hover mb-0">
      <thead>
        <tr>
          <th scope="col" style="width: 5%;"></th>
          <th scope="col" class="reduced-padding-cell">Message ID</th>
          <th scope="col" class="reduced-padding-cell">Customer ID</th>
          <th scope="col">Message</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-end">Received</th>
        </tr>
      </thead>
      <tbody id="messages">
        <%= render @messages %>
      </tbody>
    </table>
  </div>
</div>
